<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>图书详情</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css"/>
<link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}" href="../static/css/bootstrap-theme.min.css"/>
</head>
<body>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">图书详情</h3>
		</div>
	</div>
	<div class="container">
		<div class="col-md-12">
			<a href="/bookList" class="btn btn-default">返回列表</a>
			<div class="panel panel-primary" style="margin-top:20px;">
				<div class="panel-heading">
					<h3 class="panel-title" th:text="${book.title}">图书标题</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-4">
							<img th:src="@{'/img/'+${book.image}}" height="200"/>
						</div>
						<div class="col-md-8">
							<table class="table">
								<tr>
									<th>书名</th>
									<td th:text="${book.title}">书名</td>
								</tr>
								<tr>
									<th>作者</th>
									<td th:text="${book.author}">作者</td>
								</tr>
								<tr>
									<th>价格</th>
									<td th:text="${book.price}" th:style="${book.price >= 100} ? 'color:red' : ''">价格</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" th:src="@{/js/jquery-1.11.0.min.js}" src="../static/js/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
</body>
</html>